# debug log's whitelist regex => https://github.com/visionmedia/debug#wildcards
DEBUG=*

# If no port is specified; then, `3000` is used as the default
# PORT=3000

TWILIO_SID=
TWILIO_AUTH_TOKEN=

TWILIO_TEST_SID=
TWILIO_TEST_AUTH_TOKEN=

PROJECT_ROOM_1_PHONE=
CARSON_NUMBER=
DEV_LAB_PHONE=
TWILIO_NUM=
TWILIO_NUM_SID=